<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="about-section">
  <h1>About This Project</h1> 
  <p>I have written around 2000 lines of code by hand.</p>
  <p>I studied everything from scratch and spent 30+ hours just studying and learning how to use the tools for this project.</p>
  <p>I have used Angular to build the web application</p>
  <p> HTML + CSS + JavaScript + Bootstrap for web page designing</p>
  <p>NodeJs as Local API Host, Json for parcing files from FrontEnd to BackEnd and </p>
  <p>MongoDB (NoSQL) as our Database. </p>
</div>

<h2 style="text-align: center;">Our Team</h2>
<div class="row">
  <div class="col-6">
    <div >
      <img src="/assets/rohan.jpg" alt="Rohan Pawar" style="width: 100px;height: 100px;">
      <div >
        <h2>Rohan Pawar</h2>
        <p>RegNo.-20BAI1201</p>
        <p>Computer Science Engineerning with specialization in Artificial Intelligence and Machine Learning</p>
        <p>22rohan.pawar@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div>
      <img src="/assets/ganesh.jpg/" alt="Sriganesh" style="width: 100px;height: 100px;">
      <div>
        <h2>Sri Ganesh Raj</h2>
        <p>Reg.No-20BAI1181</p>
        <p>Computer Science Engineerning with specialization in Artificial Intelligence and Machine Learning</p>
        <p>sgr4051@gmail.com</p>
      </div>
    </div>
  </div>

