<nav style="background-color: lightgreen;">
    <div class = "logo">
        <img src="/assets/image.jpg" style="width: 150px;height: 110px;" alt="Error" type="image/jpg">
    </div>
    <h1 style="color:green; position:relative; text-align: center;"><b>Dream Destination Finder</b></h1>
    <div class = "mainmenu">
    
    <button type="button" class="btn btn-primary" routerLink="/dream">Home</button>
    <button type="button" class="btn btn-primary" routerLink="/login">Login</button>

    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<div class="btn-toolbar" style="position:relative;">
<button type="button" class="btn btn-secondary" routerLink="/about-us">About Us</button>
<button type="button" class="btn btn-secondary" routerLink="/contact-us">Contact Us</button> 
</div>