<div class="container1">
    <div class="background-wrap">
        <video autoplay [muted]="true" loop id="myVideo">
            <source src="/assets/video1.mp4" type="video/mp4">             
            Your browser does not support HTML5 video.
        </video>
    </div>
    <section> 
        <div class = "change_text" style="font-size:xx-large;"><b>Dream Destination Finder</b></div><br>
        <p style="font-size: large;"><i>Your one stop site to find your next Vacation </i></p><br>
        <input type = button class="btn btn-primary" value = "Find my perfect Destination" routerLink="/main">
    </section>
</div>
